<form name="formEstado" ng-controller="PesquisaCidadeController as vm" novalidate>
    <div class="panel-body">
        <div class="row" style="height: 120px">
            <pd-input-text
                    label="Nome"
                    ng-model="vm.pdService.entidade.nome"
                    colspan="3"
                    ng-required="true">
            </pd-input-text>

            <pd-select  label="Estado"
                        ng-model="vm.pdService.entidade.estado"
                        ng-required="true"
                        provider="vm.pdService.listaEstado">

            </pd-select>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <button class="btn btn-info" ng-click="vm.pdService.pesquisar()">Pesquisar Cidade</button>
                </div>
            </div>
        </div>
    </div>

    <pd-grid service="vm.pdService" exibe-botoes="true">

    </pd-grid>
</form>